{% extends "home/layout.html" %}
{% block content %}
        <div class="content">
            <div class="container">
                <div class="col-md-3 hidden-xs">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <ul class="list-unstyled">
                                    <li>按分类归档</li>
                                </ul>
                              </h4>
                            </div>
                            <div id="collapseCategory" class="panel-collapse collapse in">
                              <div class="panel-body">
                                  <div class="list-group">
                                     {% for category in categorys %}
	                                      <a href="{{ url_for('home.getArticleByCat',cat_id=category[0],page_id=1) }}" class="list-group-item categoryitem" id="catandnum">{{ category[1] }}
	                                          <span class="badge">{{ category[2] }}</span>
	                                      </a>
                                  	 {% endfor %}
                                  </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <ul class="list-unstyled">
                                    <li>按时间归档</li>
                                </ul>
                              </h4>
                            </div>
                            <div id="collapseTime" class="panel-collapse collapse in">
                              <div class="panel-body">
								  <div class="list-group">
									 {% for item in timeset %}
                                      <a href="{{ url_for('home.getArticleByTime',time_id=item[2],page_id=1) }}" class="list-group-item">{{ item[0] }}
                                          <span class="badge">{{ item[1] }}</span>
                                      </a>
                                	 {% endfor %}      
							      </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 class-xs-12">
                    <div>
                        <div class="article">
                            <div class="head">
                                <h2>{{ article[0] }}</h2>
                                <div class="">
                                    <span>{{ article[5] }}</span>
                                    <span>14条</span>
                                </div>
                            </div>
                            <div class="body">
                             {{ article[2]|safe }}
                            </div>
                        </div>
                        <hr>
                        <div class="comment-form">
                            <form class="form-inline" id="comment-form" role="form">
                                <div class="form-group col-md-6 col-xs-12">
                                    <label for="comment-form-nickname">Nickname:</label>
                                    <input type="text" class="form-control" name="nickname" id="comment-form-nickname">
                                </div>
                                <div class="form-group col-md-6 col-xs-12">
                                    <label for="comment-form-email">Email:</label>
                                    <input type="email" class="form-control" name="email" id="comment-form-email" >
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="sr-only" for=""></label>
                                    <textarea class="form-control" name="content" rows="6"></textarea>
                                </div>
                              <input type="hidden" name="artnum" value="{{ aid }}" />  
                              <button type="submit" class="btn btn-default pull-right" id="submit-commentform">发表</button>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                        <div class="alert message">
							<strong></strong>
						</div>
                        <hr>
                        <div class="comment-lists">
                            <ul class="media-list">
                             	<div id="comments"></div>
                                {% for comment in comments %}
                                	<li class="media">
                                   		<div class="media-body">
                                      		<a class="notlink" href="#comment{{ comment[0] }}"><h5 class="media-heading" id="comment{{ comment[0] }}" >{{ comment[1]+'|'+comment[2]+' '+comment[4] }}</h5></a>
                                        	{{ comment[3]|safe }}
                                   		</div>
                                	</li>
                               	 	<hr>
                            	{% endfor %}
                            </ul>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
{% endblock %}