{% extends "admin/layout.html" %}
{% block content %}
        <div class="content">
            <div class="container">
                <div class="col-md-3">
                    <div class="text-center">
                        <button class="btn btn-lg btn-primary">新文章</button>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <ul class="list-unstyled">
                                    <li>文章分类<div class="pull-right"><span class="glyphicon glyphicon-plus"></span></div></li>
                                </ul>
                              </h4>
                            </div>
                            <div id="collapseCategory" class="panel-collapse collapse in">
                              <div class="panel-body">
                                  <div class="list-group">
                                      <a href="#" class="list-group-item">aa
                                          <span class="badge">14</span>
                                      </a>
                                      <a href="#" class="list-group-item">aa
                                          <span class="badge">14</span>
                                      </a>
                                      <a href="#" class="list-group-item">aa
                                          <span class="badge">14</span>
                                      </a>
                                      <a href="#" class="list-group-item">aa
                                          <span class="badge">14</span>
                                      </a>
                                  </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-md-9 class-xs-12">
                    <div>
                        <article class="well">
                            <div class="text-center">
                                <h3>标题</h3>
                            </div>
                            <div class="text-center">时间分类评论</div>
                            <div>
                                <p>
                                    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
                                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
                                    Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                                </p>
                            </div>
                        </article>
                        <article class="well">
                            <div class="text-center">
                                <h3>标题</h3>
                            </div>
                            <div class="text-center">时间分类评论</div>
                            <div>
                                <p>
                                    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
                                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
                                    Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                                </p>
                            </div>
                        </article>
                        <article class="well">
                            <div class="text-center">
                                <h3>标题</h3>
                            </div>
                            <div class="text-center">时间分类评论</div>
                            <div>
                                <p>
                                    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
                                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
                                    Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                                </p>
                            </div>
                        </article>
                        <article class="well">
                            <div class="text-center">
                                <h3>标题</h3>
                            </div>
                            <div class="text-center">时间分类评论</div>
                            <div>
                                <p>
                                    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
                                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
                                    Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                                </p>
                            </div>
                        </article>
                    </div>    
                </div>
            </div>
        </div>
{% endblock %}       
