{% extends "admin/layout.html" %}
{% block content %}
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
                        <h2 class="text-center">评论审核</h2>
                        <div class="alert message">
					  		<strong></strong>
				  		</div>
                    </div>
                </div>
                <div class="col-md-10 class-xs-12 col-md-offset-1">
                      <div>
                        <article class="well">
                           <div class="text-center">
                               <h3>{{ article[0] }}</h3>
                           </div>
                           <div class="text-center">{{ article[5] }}&nbsp;&nbsp;{{ article[3] }}</div>
                           <div>
                               <p>
                               {{ article[1]|safe }}
                               </p>
                           </div>
                        </article>
                        <div class="comment-lists">
                            <ul class="media-list">
                            {% for comment in comments %}
                               <li class="media">
                                   <div class="media-body">
                                      <a class="notlink" href="#comment{{ comment[0] }}"><h5 class="media-heading" id="comment{{ comment[0] }}" >{{ comment[1]+'|'+comment[2]+' '+comment[4] }}</h5></a>
                                        {{ comment[3]|safe }}
                                   </div>
                                   <div class="btn-group pull-right">
                                   {% if comment[6] == 1 %}
                                        <button class="btn btn-danger comment-deleted" disabled="disbaled">已删除</button>
                                   {% elif comment[5] == 1 %}
                                        <button class="btn comment-allowed" disabled="disbaled">已审核</button>
                                        <button class="btn btn-danger comment-delete" data="{{ comment[0] }}" dataa="{{ aid }}" >删除</button>
                                   {% else %} 
                                        <button class="btn btn-primary comment-allow" data="{{ comment[0] }}" dataa="{{ aid }}" >通过</button>
                                   		<button class="btn btn-danger comment-delete" data="{{ comment[0] }}" dataa="{{ aid }}" >删除</button>
                                   {% endif %}
                                   </div>
                                </li>
                                <hr>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
 {% endblock %}

                







