{% extends "admin/layout3.html" %}
{% block content %}
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
                        <h2 class="text-center">撰写新文章</h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <ul class="list-unstyled">
                                    <li>详情设置</li>
                                </ul>
                              </h4>
                            </div>
                            <div id="collapseCategory" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <!-- Split button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn bt-default">文章分类</button>
                                        <button type="button" class="btn btn-danger">请选择</button>
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn bt-default">文章权限</button>
                                        <button type="button" class="btn btn-danger">请选择</button>
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <p class="text-center">
                                        <button class="btn btn-primary">发布</button>
                                    </p>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-md-9 class-xs-12">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
<!--                                <textarea class="form-control" rows="6"></textarea>-->
                                <script id="container" name="content" type="text/plain">
                                    这里写你的初始化内容
                                 </script>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}